# Ignora todo por defecto
*

# No ignores estas carpetas
!VulnerableApp/
!Práctica 3 Unidad 2/

# Opcional: si quieres incluir también los archivos dentro de esas carpetas
!VulnerableApp/**
!Práctica 3 Unidad 2/**
